<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Utilisateurs</title>
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" type="text/css" href="css/styles.css" />

</head>
<body>
	<div id="main">
		<div class="loading" v-if="loading">chargement...</div>
		<h1>Utilisateurs</h1>
		

		<div v-if="users!=null && users.length>0">
			<table>
				<thead>
					<tr>
						<th>idUser</th>
						<th>created</th>
						<th>firstName</th>
						<th>lastName</th>
						<th>isDead</th>
						<th>size</th>
						<th>birthDate</th>
						<th><button type="button" id="get-joke" @click="loadUsers">MAJ</button></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="user of users">
						<td><img v-bind:src="'quid?Order=GetImage&id='+user.idUser"  /></td>
						<td>{{toDate(user.created) }}</td>
						<td>{{user.firstName}}</td>
						<td>{{user.lastName}}</td>
						<td>{{user.isDead}}</td>
						<td>{{user.size}}</td>
						<td>{{user.birthDate}}</td>
						<td>
							<button @click="delUsers(user.idUser)">Supprimer</button>
						</td>

					</tr>
				</tbody>
			</table>
		</div>


	</div>
</body>

<!-- Vue and Custom JavaScript -->
<script src="js/vue-2.6.11.js"></script>
<script src="js/users.js"></script>

</html>